* {
    font-family: cursive;
}

body {
    margin: 0;
}
main .custom-main{
    max-width: 950px;
}

input[type="checkbox"].form-check-input {
    background-image: none;
}

input[type="checkbox"].form-check-input {
    color: black;
    background-color: white;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 3px;
    text-align: center;
    line-height: 20px;
    font-weight: bold;
    margin-right: 1rem;
    vertical-align: middle;
}
input[type="checkbox"].form-check-input::after {
    content: "✔";
}
input[type="checkbox"].form-check-input:not(:checked)::after {
    content: "";
}
